 <h1>Votre Soirée</h1>
 
 <ul class="list-unstyled"> 
  <li ><%= soiree.nom%></li>
  <li ><%= soiree.date%></li>
  <li ><%= soiree.type_of%></li>
  <li ><%= soiree.description%></li>
  <li ><%= soiree.prix %>€</li>
  <li ><%= soiree.lieux%></li>
  
</ul>